{% load dictionary_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tourist destinations</title>

	<!-- ESTO QUE ESTA AQUI -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="/home/FlappyBirds/ITDb/static/bootstrap/css/bootstrap.min.css"/>

    <!-- ESTP QUE ESTA AQUI!!!! -->


</head>

<style type="text/css">

  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    /*margin-top: -20px;*/
    padding: 0px
  }

</style>

<!-- Google API and Key-->
<script type="text/javascript"

	src="https://maps.googleapis.com/maps/api/js?Key=AIzaSyDqgEKn9SN-A15a5emKo1kFGamx7AXYRq4" >

</script>
<script>
	var map;
	function initialize() {
	  var mapOptions = {

	    zoom: 2,

	    center: new google.maps.LatLng(-2.605433, 17.703638)
	  };
	  map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);


	  var img = '/static/styles_design/marker.png';
	  var img2 = '/static/styles_design/longhorn_marker.png'

	  {% for c in cities %}
	    var marker = new google.maps.Marker({
	        position: new google.maps.LatLng({{ c.x }},{{ c.y }}),
    	  	map: map,
    	  	title: '{{ c.name }}',
    	  	icon : img,
    	  	draggable: false,
    	  	optimized:false,
	    })
    	  google.maps.event.addListener(marker, 'click', function () {
      		window.location.href = 'http://flappybirds.pythonanywhere.com/cities/{{ c.id }}';
    	  });
	  {% endfor %}

	    var marker = new google.maps.Marker({
	        position: new google.maps.LatLng(30.284844, -97.734084),
	        map:map,
	        title:'University of Texas at Austin',
	        icon : img2,
	        draggable: false,
	        optimized: false,
	    })
	     google.maps.event.addListener(marker, 'click', function () {
      		window.location.href = 'http://flappybirds.pythonanywhere.com/ut_api/';
    	  });

	  /*var marker = new google.maps.Marker({
	  	position: new google.maps.LatLng(20.6829,-88.5686),
	  	map: map,
	  	title: 'Chichen Itza, Mexico',
	  	icon : img,
	  	draggable: false,
	  	optimized:false,
	  })
	  google.maps.event.addListener(marker, 'click', function () {
  		window.location.href = 'http://flappybirds.pythonanywhere.com/Chichen_Itza_Mexico/';
	  });

	  var marker = new google.maps.Marker({
	  	position: new google.maps.LatLng(-33.944612, 18.476158),
	  	map: map,
	  	title: 'Cape Town, South Africa',
	  	icon: img,
	  	draggable: false,
	  	optimized:false
	  })
	  google.maps.event.addListener(marker, 'click', function () {
  		window.location.href = 'http://flappybirds.pythonanywhere.com/Cape_Town_South_Africa/';
	  });

	  var marker = new google.maps.Marker({
	  	position: new google.maps.LatLng(26.864663, 100.229130),
	  	map: map,
	  	title: 'Li Jiang, China',
	  	icon: img,
	  	draggable: false,
	  	optimized:false
	  })
	  google.maps.event.addListener(marker, 'click', function () {
  		window.location.href = 'http://flappybirds.pythonanywhere.com/Lijiang_China/';
	  });*/
	}

	google.maps.event.addDomListener(window, 'load', initialize)

</script>


<body>
	<div class="bgimg container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="logo">

				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <input type="text" placeholder="search" name="search" id="search">
            </div>
		</div><!-- /.row -->
	</div>



	<div class="navbar navbar-custom" role="navigation">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
			    <li class="dropdown ">
			        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Cities <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			            {% for c in cities %}
			            <li><a href="http://flappybirds.pythonanywhere.com/cities/{{ c.id }}">{{c.name}},{{c.country}}</a></li>
			            {% endfor %}
			            <li class="divider"></li>
			        </ul>
			    </li>
			    <li class="dropdown ">
			        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Languages <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			             {% for l in languages %}
			            <li><a href="http://flappybirds.pythonanywhere.com/languages/{{ l.id }}">{{l.name}}</a></li>
			            {% endfor %}
			            <li class="divider"></li>
			        </ul>
			    </li>
			    <li class="dropdown ">
			    	<a href="#" data-toggle="dropdown" class="dropdown-toggle">Activities<b class="caret"></b></a>
			    	<ul class="dropdown-menu">
			    		 {% for a in activities %}
			            <li><a href="http://flappybirds.pythonanywhere.com/activities/{{ a.id }}">{{a.name}}</a></li>
			            {% endfor %}
			            <li class="divider"></li>
			    	</ul>
			    </li>
			</ul>
		</div>
	</div>



    <div class="mapmar" id="map-canvas"> </div>




	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
$('#search').on("keyup",function(e) {
	if(e.which==13) {
		window.location ="http://flappybirds.pythonanywhere.com/search/"+$('#search').val();
	}
});
</script>
<!-- ESTO AQUI -->
</body></html>

<!-- border, box-shadow, media-screen -->