<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tourist destinations</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
</head>
<body>

<h1>Tourist destinations</h1>

<table width="100%" border="1">
 <tr>
 	<th>Cities</th>
 	<th>Languages</th>
 	<th>Activities</th>
 </tr><tr>
 	<td>
 		<ul>
 			<li><a href="{% url 'content_display.views.lijiang_China' %}">Li Jiang, China</a></li>
 			<li><a href="{% url 'content_display.views.chichen_Itza_Mexico' %}">Chichen Itza, Mexico</a></li>
 			<li><a href="{% url 'content_display.views.capeTown_SouthAfrica' %}">Cape Town, South Africa</a></li>
 		</ul>
 	</td>
 	<td>
 		<ul>
 			<li><a href="{% url 'content_display.views.english' %}">English</a></li>
 			<li><a href="">Spanish</a></li>
 			<li><a href="{% url 'content_display.views.chinese' %}">Chinese</a></li>
 		</ul>
 	</td>
 	<td>
 		<ul>
 			<li><a href="{% url 'content_display.views.sceneries' %}">Scenery</a></li>
 			<li><a href="{% url 'content_display.views.historical' %}">Historical</a></li>
 			<li><a href="">Housing</a></li>
 		</ul>
 	</td>
 </tr>
</table>

	

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body></html>