<!DOCTYPE html>
<html><head>
<title>Sceneries</title>
</head><body>



<h1>Sceneries</h1>

<div>

	<p><a href="{% url 'content_display.views.lijiang_China' %}">Li Jang, China</a> - Coresponding Language(s) : <a href="{% url 'content_display.views.chinese' %}">Chinese</a>, <a href="">Tibetan</a> </p>
	<p><a href="{% url 'content_display.views.chichen_Itza_Mexico' %}">Chichen Itza, Mexico</a> - Coresponding Language(s) : <a href="">Spanish</a></p>
	<p><a href="{% url 'content_display.views.capeTown_SouthAfrica' %}">Cape Town, South Africa</a> - Coresponding Language(s) : <a href="">Afrikans</a></p>
</div>

<h4><a href="{% url 'content_display.views.index' %}">Home</a></h4>
</body></html>