<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flappy World : Search : {{ query }}</title>

  <!-- ESTO QUE ESTA AQUI -->
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">



</head><body>

<div class="bgimg container-fluid">
    <div class="container">
        <div class="col-lg-4">
            <a href="/"><div class="logo"></div></a><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
            <div class="col-lg-8">
                {% if blank %}
                <input type="text" placeholder="Search" name="search" id="search">
                {% else %}
                <input type="text" placeholder="Search" name="search" id="search" value="{{ query|safe }}">
                {% endif %}
            </div>
    </div><!-- /.row -->
</div>

<div class="navbar navbar-custom" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
		    <li class="dropdown">
		        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Cities <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		            {% for c in cities %}
		            <li><a href="http://flappybirds.pythonanywhere.com/cities/{{ c.id }}">{{c.name}},{{c.country}}</a></li>
		            {% endfor %}
		        </ul>
		    </li>
		    <li class="dropdown ">
		        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Languages <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		             {% for l in languages %}
		            <li><a href="http://flappybirds.pythonanywhere.com/languages/{{ l.id }}">{{l.name}}</a></li>
		            {% endfor %}
		        </ul>
		    </li>
		    <li class="dropdown ">
		    	<a href="#" data-toggle="dropdown" class="dropdown-toggle">Activities<b class="caret"></b></a>
		    	<ul class="dropdown-menu">
		    		 {% for a in activities %}
		            <li><a href="http://flappybirds.pythonanywhere.com/activities/{{ a.id }}">{{a.name}}</a></li>
		            {% endfor %}
		    	</ul>
		    </li>
		    <li>
		    	<a href="http://flappybirds.pythonanywhere.com/about">Flappy Birds</a>
		    </li>
		</ul>
	</div>
</div>

<div class="container penul search_results">
    {% if blank %}
    {% else %}
    results for: {{ query }}
    <div class="container-fluid">
        <div class="andbtn btn btn-lg btn-warning" role="button">AND</div>
        <div class="orbtn btn btn-lg btn-warning" role="button">OR</div>

        <div class="results andresult">
            {% if cbool %}
            	<h3>cities ({{ ccount }})</h3>
            	{% for c in cities %}
            		<div>
            			<a href="http://flappybirds.pythonanywhere.com/cities/{{ c.id }}">{{ c.name|safe }}</a>
            			<p>{{ c.description|safe }}</p>
            		</div>
            	{% endfor %}
            {% endif %}

        	{% if abool %}
        		<h3>activities ({{ acount }})</h3>
        		{% for a in activities %}
        			<div>
        				<a href="http://flappybirds.pythonanywhere.com/activities/{{ a.id }}">{{ a.name|safe }}</a>
        				<p>{{ a.description|safe }}</p>
        			</div>
        		{% endfor %}
        	{% endif %}

        	{% if lbool %}
        		<h3>languages ({{ lcount }})</h3>
        		{% for l in languages %}
        			<div>
        				<a href="http://flappybirds.pythonanywhere.com/languages/{{ l.id }}">{{ l.name|safe }}</a>
        				<p>{{ l.description|safe }}</p>
        			</div>
        		{% endfor %}
        	{% endif %}
        </div>

        <div class="results orresult">
            {% if cobool %}
            	<h3>cities ({{ cocount }})</h3>
            	{% for c in co %}
            		<div>
            			<a href="http://flappybirds.pythonanywhere.com/cities/{{ c.id }}">{{ c.name|safe }}</a>
            			<p>{{ c.description|safe }}</p>
            		</div>
            	{% endfor %}
            {% endif %}

        	{% if aobool %}
        		<h3>activities ({{ aocount }})</h3>
        		{% for a in ao %}
        			<div>
        				<a href="http://flappybirds.pythonanywhere.com/activities/{{ a.id }}">{{ a.name|safe }}</a>
        				<p>{{ a.description|safe }}</p>
        			</div>
        		{% endfor %}
        	{% endif %}

        	{% if lobool %}
        		<h3>languages ({{ locount }})</h3>
        		{% for l in lo %}
        			<div>
        				<a href="http://flappybirds.pythonanywhere.com/languages/{{ l.id }}">{{ l.name|safe }}</a>
        				<p>{{ l.description|safe }}</p>
        			</div>
        		{% endfor %}
        	{% endif %}
        </div>

    </div>
    {% endif %}
</div>

<div class="divider container-fluid"></div>
<div class="footer">
    <div class="container">
        <div class="col-lg-3">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/languages">Languages</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">Meet the team</a></li>
                <li><a href="https://www.cs.utexas.edu/users/downing/cs373/drupal/" target="_new">Project for UT CS373</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script>

$('#search').on("keyup",function(e) {
	if(e.which==13) {
		// console.log( "going to full search: "+$('#search').val() );
		window.location ="http://flappybirds.pythonanywhere.com/search/"+$('#search').val();
	}
	// console.log( $('#search').val() );
});

</script>
<style>
a { color:#00f; }
.search_results { padding:10px;
    min-height:400px; }
.results div { padding:10px; }
.results div:hover { background-color:#eee; }
</style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

 <script>
    $(document).ready(function(){
        $('.orresult').hide();
    });
    $('.andbtn').on('click', function(){
        $('.orresult').hide();
        $('.andresult').fadeIn();
     });

     $('.orbtn').on('click', function(){
        $('.andresult').hide();
        $('.orresult').fadeIn();
     });
 </script>


</body></html>